.header__navbar{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-weight: 900;
    font-size: var(--size-3xl);
    color: var(--clr-vermillion);
}

.header__menu{
    display: none;
}

/* Hamburger start */
.menu-icon {
    display: inline-block;
    cursor: pointer;
    top: 20px; 
    right: 20px; 
  }

  .bar {
    display: block;
    width: 26px;
    height: 3px;
    margin: 4px 0;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  #menu.open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  #menu.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  #menu.open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  

.header__bars{
    color: var(--clr-dark);
    width: var(--size-3xl);
    height: var(--size-3xl);
    display: block;
}
/* Hamburger end */
/* md */
@media(min-width: 768px){
    .header__menu{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 1.5rem;
        padding: 0;   
    }
    
    .header__navbar li a{
        font-size: var(--size-xl);
        font-weight: 500;
        transition: 0.3s;
    }
    
    .header__menu a:hover{
        color: var(--clr-rasberry);
    }
    .menu-icon{
        display: none;
    }

}

    /* lg */
@media(min-width: 1024px){
    .header__navbar li a{
        font-size: var(--size-xl);
    }
    .header__bars{
        display: none;
    }
    .container{
        margin-top: var(--size-3xl);
    }
}
    