:root{
    /* Colors */
    --clr-jet: #3A3335;
    --clr-rasberry: #D81E5B;
    --clr-vermillion: #F0544F;
    --clr-whip: #C6D8D3;
    --clr-ashgray: #C6D8D3;
    --clr-slate200: #f8fafc;
    --clr-white: #fff;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3.75rem;

}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'General Sans' sans-serif;
    background-color: var(--clr-slate200);
    color: var(--clr-jet);
}

img, picture, video, canvas, svg{
    display: inq;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a{
    color: var(--clr-jet);
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}

strong{
    color: var(--clr-rasberry);
}

.container{
    margin-bottom: var(--size-lg);
}

